main {
    background-color: #17398191;
    color: white;
    width: 100%;
  }
  .book{
    text-decoration: none;
    background-color: #8b0e0e;
    color: seashell;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    border: 2px solid seashell;
    display: center;
}

/* ----- Hamburger Button ----- */
#menu {
  position: absolute;
  top: 8%;
  right: 3%;
  background-color: #8b0e0e;
  border: 3px ridge #25450D;
  border-radius: 10px;
  box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.5);
  font-size: 2.4em;
}

#menu:hover {
  transform: scale(1.1);
}

#menu::before {
  content: '☰';
}

#menu.open::before {
  content: '✖';
}
/* ----- Navigation ----- */
.navigation {
  display: none;
}

.navigation a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #25450D;
  padding: 2%;
  font-size: larger;
}

.open {
  display: block;
}

/* ----- Hover Styles ----- */
.navigation a:hover {
  color: #CBCFF3;
  background-color: #25450D;
  box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.active::before {
  content: "%";
}

.active::after {
  content: "%";
}
.book:hover{
    background-color: seashell;
    color: #8b0e0e;
    border: 2px solid #8b0e0e
}
  footer {
    background-color: #9c9696;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .nav-frame{
    display: flex;
    justify-content: space-between;
    background: #9c9696;
  }
  
  .logo{
    background: white;
    display: none;
  }
  
  .logo img{
    padding: 10px;
    max-width: 120px;
  }
  .contactDiv{
    display: block;
    height: auto;
    padding: 20px;
    flex: 1;
    margin: 10px;
  }  
  .card1 {
    margin: 10px;
    padding: 20px;
    display: block;
    position: relative;
}

#locations {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

#maps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
  .social-icon {
    height: 40px;
    padding: 5px;
    margin: 0px;
  }
  .h4{
    font-style: italic;
    font-size: large;

  }
  .link {
    color: white;
    text-decoration: none;
  }
  
  h1 {
    font-size: 4em;
    margin: 0;
    font-family:'Raleway', Arial, sans-serif;
  }
  
  h2 {
    font-size: 2em;
    font-family: 'Raleway', Arial, sans-serif;
  }
  
  h3 {
    font-size: 1em;
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0; 
  }
  
  p {
    font-family: 'Helvetica', sans-serif;
  }
  
  nav {
    background-color: #9c9696;
    width: 100%;
  }
  
  .navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    font-size: 1.2rem;
  }
  
  .navigation li:first-child {
    display: block;
  }
  
  .navigation li {
    display: none;
  }
  
  .navigation a {
    font-family: 'Helvetica', sans-serif;
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 700;
  }
  
  .navigation a:hover, a.active  {
    color: black;
    background-color: white;
  }
  
  .responsive li {
    display: block;
  }
  
  .header-banner {
    background-image: linear-gradient(rgba(131, 8, 8, 0.35),rgba(129, 14, 14, 0.7)), url("../images/cool\ bike.jpeg");
    background-position: bottom center;
    color: white;
    text-align: center;
    padding: 40px;
  }
  .maps {
    width: max-content;
    padding: 0;
    margin: 0;
    border-radius: 15px;
}
.location {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
  .reserveButton {
    margin: 20px;
    padding: 10px;
    background-color: #777777;
    color: white;
  }
  
  .homeInfoSection {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    padding: 10px;
  }
  
  .infoImg {
    width: 250px;
  }
  
  .card {
    background-color: #777777;
    width: 250px;
    text-align: center;
    margin: 20px;
    border-bottom: 9px solid #8b0e0e;
  }
  .card2 {
    background-color: #777777;
    width: 100%;
    text-align: center;
    margin: 20px;
    border-bottom: 9px solid #8b0e0e;
  }
  
  .container {
    padding: 2px 16px;
  }
  
  .button {
    background-color:  #8b0e0e;
    box-shadow: -2px -2px 2px 0px rgba(122, 122, 122, 1);
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 10px;
    cursor: pointer;
  }
  
  .weatherSection {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
   
  }
  
  .weatherSummary {
    background-color: #777777;
    padding: 20px;
    margin: 30px;
    width: 50%;
    font-size: 1.5em;
    text-align: center;
    border-bottom: 9px solid #8b0e0e;
  }
  
  .rentalSection {
    text-align: center;
  }
  
  .rentalSection h3 {
    padding-top: 50px;
  }
  
  .servicesDiv {
    border: 1px solid #8b0e0e;
    width: 100%;
    display: inline-block;
    text-align: left;
    margin: 5px;
  }
  
  .servicesDiv p {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  table {
    display: inline-block;
    text-align: left;
    border-collapse: collapse;
    margin: 20px;
  }
  
  table, th, td {
    border: 1px solid #8b0e0e;
  }
  
  th, td {
    padding: 5px;
  }
  
  form {
    padding: 20px;
    margin: auto;
  }
  
  form fieldset {
    margin: 2rem 0;
    border: 1px solid #8b0e0e;
    padding: .5rem 2%;
  }
  
  form legend {
    color: white;
    margin: 1rem 1rem;
    padding: 0 .5rem;
  }
  
  form label.top,
  form div {
    display: block;
    padding-top: 1rem;
    color: rgb(14, 12, 12);
    font-size: 1rem;
  }
  s
  form label.top input,
  form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px white;
    padding: .75rem;
    color: white;
    width: 100%;
    max-width: 20rem;
    background-color: rgb(0, 0, 0, 0.1);
  }
  
  form label.sbs {
    display: block;
    padding: .75rem;
    color: white;
  }
  
  form label.top input:required {
    border-left: #8b0e0e solid 6px;
  }
  
  form label.top input:required:valid {
    border-left: green solid 6px;
  }
  
  .agreement {
    font-size: .6rem;
    width: 60%;
  }
  
  .locationDiv {
    text-align: center;
    padding: 10px;
  }
  
  iframe {
    margin: 0px;
  }
  
  .thanks {
    text-align: center;
    height: 900px;
    padding-top: 50px;
  }
  