@media only screen and (min-width: 60em) {

    /* ------- body styles ------- */
    content {
        max-width: 1600px;
    }

    body {
        font-size: 13px;
    }


    /* ------- header styles ------- */
    header div {
        grid-template-columns: 1fr 5fr 1fr;
    }

    /* ------- main section styles ------- */

    .sizelabel p::after {
        content: "Large";
    }

    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    /* ------- Member Directory page ------- */
    .list .dircard {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        text-align: left;
        justify-items: left;
        min-height: 40px;
        font-size: 15px;
    }

    /* -------  footer styles ------- */
    footer {
        margin-top: 1%;
    }
}