@media only screen and (min-width: 35em) {

    /* ---------- body styles ---------- */
    body {
        font-size: 16px;
    }


    /* ------- header styles ------- */
    header div {
        grid-template-columns: 1fr 4fr 1fr;
    }


    /* ------- navigation styles ------- */
    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        border-bottom: 3px ridge #547AA5;
    }

    .navigation li {
        display: block;
        justify-content: center;
        flex: 1 1 100%;
        margin: 0;
    }


     /* ------- Directory Styles ------- */
    .list .dircard {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        width: 98%;
        gap: 2%;
    }

    .grid {
        gap: 2%;
        font-size: 14px;
    }


 /* ------- footer styles ------- */
    footer ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 1%;
    }

}